<section class="add-inventory-section">
  <h1>Add a new inventory</h1>
  <%= form_with model: @inventory, url: inventories_path, method: :post, class: 'inventory-form' do |form| %>
    <%= form.text_field :name, class: 'inventory-name', placeholder: 'Name' %>
    <%= form.submit 'Create', data: {disable_with: "Loading..."} %>
  <% end %>
</section>
