<section class="public_recipe_container">
  <div class="row">
    <% if @recipes.empty? %>
      <h2>You don't have any existing recipe of your own!</h2>
    <% else %>
      <% @recipes.each do |recipe| %>
        <%= render partial: "recipe", locals: { recipe: } %>
      <% end %>
    <% end %>
  </div>
</section>
